{% extends "layout.html" %}   

{% block body %}
<!-- <body class = "site_body"> -->
  {% include "navigation.html" %}
    <!-- This is the div that will contain the body (main)  -->

    <!-- Hamburger icon -->
  <div class="hamburger" onclick="toggleSidebar()">
    ☰
  </div>
  
    <div class="main_content_wrapper">
      <!-- Left side: about_text -->

     {% include "leftside.html" %}

      <!-- Right side: content -->
      <div class="content">
        <h1>Hello!</h1>
        <hr class = "hr_content">
         <div class ="about_me">
          <p>
            Kim Audrey Magan is a computer science student studying in Polytechnic University of the Philippines and a DOST scholar. For fun, he reads books, plays chess, or watches movies.
            He hopes to one day become a professional and hopefully a scientist specifically a <i>physisish</i> or a mathematician. 
          </p>
          <!-- <p class = "p_about_me"> -->
          <h2>Interests:</h2>
            <ul class="about_list" style="
              display: grid;
              grid-template-columns: repeat(2, max-content);
              column-gap: 30px;
              row-gap: 4px;
              list-style-type: disc;
              color: #e0dbd1;
            ">
              <li>Data Engineering</li>
              <li>Data Science</li>
              <li>Programming</li>
              <li>Physics</li>
              <li>Mathematics</li>
              <li>Cooking</li>
            </ul>
            <!-- </p> -->
            
            <!-- <p class = "p_about_me"> -->
              <h2>Education:</h2>
              <ul class = "about_list">
                <li>B.S. in Computer Science, Polytechnic University of the Philippines (2027)</li>
                <li>STEM, Rizal National Science High School (2023)</li>
              </ul>
            <!-- </p> -->
            <p>
              <!-- Message if you want to <b>collaborate</b> or if you will be too kind to <a href = 'https://drive.google.com/file/d/1U1uQ0fhN7jSG5rtuR8Vjob7Y--YFdXiH/view?usp=sharing'>date</a> him &#128514 -->
              Message if you want to <b>collaborate</b> or if you will be too kind to date him &#128514
            </p>
          </div>
          <br>
            <h1>Magic Spells</h1>
            <hr class ="hr_content">
            <div class = toolkits>
                <div class = "toolkit_container" id = "ai"> 
                  <!-- Dapat may style to na div - div - div -->
                  <h4>AI and Data</h4>
                    <div>
                      <div class="tool_grid">
                          <div class = "tool">
                              <img src="https://skillicons.dev/icons?i=python" alt = "Python">
                              <span>Python</span>
                          </div>
                          <div class = "tool">
                              <img src="https://skillicons.dev/icons?i=sklearn" alt = "SkLearn">
                              <span>SkLearn</span>
                          </div>
                          <div class = "tool">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original.svg" alt="Pandas">
                            <span>Pandas</span>
                          </div>
                          <div class = "tool">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/numpy/numpy-original.svg" alt="NumPy">
                            <span>NumPy</span>
                          </div>
                        </div>
                      </div>
                </div> 
                
                <div class = "toolkit_container" id ="web">
                    <h4>Web Development</h4>
                    <div class="tool_grid">
                        <div class = "tool">
                              <img src="https://skillicons.dev/icons?i=html" alt = "HTML">
                              <span>HTML</span>
                        </div>

                        <div class = "tool">
                              <img src="https://skillicons.dev/icons?i=css" alt = "CSS">
                              <span>CSS</span>
                        </div>

                        <div class = "tool">
                              <img src="https://skillicons.dev/icons?i=javascript" alt = "javascript">
                              <span>JavaScript</span>
                        </div>
                         
                        <div class = "tool">
                            <img src="https://skillicons.dev/icons?i=flask" alt = "Flask">
                            <span>Flask</span>
                        </div>
                          

                      </div>
                </div>

                <div class = "toolkit_container" id = "others">
                    <h4>Others</h4>
                    <div class="tool_grid">
                      <div class = "tool">
                            <img src="https://skillicons.dev/icons?i=sqlite" alt = "SQLite">
                            <span>SQLite</span>
                      </div>

                      <div class = "tool">
                            <img src="https://skillicons.dev/icons?i=java" alt = "Java">
                            <span>Java</span>
                      </div>
                      <div class = "tool">
                            <img src="https://skillicons.dev/icons?i=vscode" alt = "vscode">
                            <span>VSCode</span>
                      </div>
                      <div class = "tool">
                            <img src="https://skillicons.dev/icons?i=git" alt = "git">
                            <span>Git</span>
                      </div>
                    </div>
                </div> 

            </div>


              <br>
              <h1>Certifications</h1>
              <hr class ="hr_content">
              <div class = "certificates">

                <div class = "certificate_container">
                  <div class = "certificate_img">
                    <img src="/static/img/google_logo.png" alt="Google">
                  </div>
                  
                  <div class = "certification_desc">
                    <h4>Google Data Analytics Professional Certificate</h4>
                    <p>2024</p>
                  </div>
              </div>

            </div>

      </div> 

    </div> <!-- Main content wrapper -->

    {% include "footer.html" %}
  <!-- </body> -->
{% endblock %}

<!--  -->