<!-- Kim Audrey Magan -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" , content="width=device-width, initial-scale = 1.0"/>
    <title>Homepage</title>
    <link rel="stylesheet" , href="styles.css"/>
  </head>
  <body>
    <!-- Where the navigation -->
    <nav class="navigation">
        <h1 class="header-name">kimodri</h1>
      
        <!-- Right-aligned links -->
        <div class="actions">
          <p class="navigation_elements">Home</p>
          <p class="navigation_elements">Bio</p>
        </div>
      </nav>
      
    <!-- Where the other pages that inherit -->

    <!-- This is the div that will contain the body (main)  -->
    <div class="body">
      <!-- Left side: about_text -->
      <div class="about_text">
        <p>

        </p>
      </div>

      <!-- Right side: content -->

    <div class = "vl"></div>
    <div class="content">
    <!-- Card 1 -->
    <div class="card">
        <!-- <img
        src="https://imageplaceholder.net/600/projects"
        alt="placeholder"
        class="pic1"
        /> -->
        <!-- <button class="card-btn">View More</button> -->
    </div>

    <!-- Card 2 -->
    <div class="card">
        <!-- <img
        src="https://imageplaceholder.net/600/researches"
        alt="placeholder"
        class="pic2"
        /> -->
        <!-- <button class="card-btn">View More</button> -->
    </div>
    </div>

      
      </div>
    </div>
  </body>
</html>