<!-- Kim Audrey Magan -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" , content="width=device-width, initial-scale = 1.0"/>
    <title>Homepage</title>
    <link rel="stylesheet" , href="/static/styles.css"/>
  </head>

  <body class="site_body">
    {% block body %}{% endblock %}
    <script>
    function toggleSidebar() {
      const sidebar = document.getElementById("sidebar");
      sidebar.classList.toggle("show");
    }
  </script>

  </body>

</html>