{% extends "layout.html" %}   

{% block body %}

{% include "navigation.html" %}
<div class="hamburger" onclick="toggleSidebar()">
☰
</div>

<div class = "main_content_wrapper">
    {% include "leftside.html" %}
    <div style = "display: flex; flex-direction: column;">
        <h2 style = "margin-left: 10px; margin-bottom: 5px;">I guess I have no life 🤣. To be filled soon.</h2>
        <p style = "margin-left: 10px; margin-top: 0;">supposedly for blogging :)</p>
    </div>
</div>

{% include "footer.html" %}

{% endblock %}
