    <nav class="navigation">
        <h1><a href = "/">kimodri</a></h1>
      
        <!-- Right-aligned links -->
        <div class="actions">
          <ul class = "navigation_elements">
            <li class = "nav_element"><a href = '/papers'>Papers</a></li>
            <li class = "nav_element"><a href = '/projects'>Projects</a></li>
            <!-- <li class = "nav_element">Books</li> -->
            <li class = "nav_element"><a href = '/life'>Life</a></li>

          </ul>
          <!-- <p class="navigation_elements">Home</p> -->
          <!-- <p class="navigation_elements">Bio</p> -->
        </div>
      </nav>
      