/* All about navigation */
body nav{
    margin-left: -10px;
    margin-right: -10px;
}

.navigation {
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: -10px;
    height: 25px;
  }
  
  .actions {
    display: flex;
    gap: 30px;
  }
  
  .navigation_elements {
    display: inline-block;
    position: relative;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .navigation_elements::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
  }
  
  .navigation_elements:hover::after {
    width: 100%;
  }
  
  .navigation_elements:hover {
    color: lightgray;
  }
  

/* The div that contains two containers inside */
  .body {
    display: flex;
  }
  
    /* All About the content (left)*/
  .about_text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCDB2;
    width: 250px;
    height: 580px;
    margin-left: -10px;
  }

  .about_frame {
    transform: translateY(-50px); /* Moves content up by 20px */
}

.author_img {
    text-align: center;
}

.author_img img {
  display: block;  
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100px;  
  height: 100px; 
  border-radius: 50%;  
  object-fit: cover; 
}

.name p {
    text-align: center;
}

/* links lists about page */
.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  display: flex;
  align-items: center;
  gap: 8px; 
  font-size: 18px;
  margin-bottom: 3px;
  padding-left: 20px;
}

.links li svg {
  width: 20px;  
  height: 20px; 
  fill: black; 
}


  
 

  /* Right side content */
  
  .content {
    display: flex;
    width: 1100px;
    background-color: yellowgreen;
    height: 580px;
    margin-right: -10px;
    justify-content: center;  /* Centers horizontally */
    align-items: center; 
  }

  .cards{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFCDB2;
    width: 500px;
    height: 300px;
  }
/*   
  .card {
    position: relative;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  } */
  
  .card img {
    width: 100%;
    display: block;
  }
  
  .card-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .card-btn:hover {
    background-color: #45a049;
  }